.container--editar-produto{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ffffffaa;
}
.container--editar-produto .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 600px;
}
.container--editar-produto .box form{
    border: 1px solid #9b9999;
    min-width: 400px;
}
.container--editar-produto .box h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #26748A;
}
.container--editar-produto .box label{
    margin: 5px 0;
    font-weight: bold;
    color: #26748A;
    font-size: 14px;
}
.container--editar-produto .box input{
    width: 100%;
    margin: 0;
}
.container--editar-produto .box input, 
.container--editar-produto .box textarea{
    border-radius: 3px;
}
.container--editar-produto .box textarea{
    resize: none;
    min-height: 90px;
    padding: 10px;
}
.container--editar-produto .box button{
    margin: 15px 0;
}
.box-edit--close{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-edit--close button{
    padding: 5px 10px;
    margin: 0;
    background-color: #ff0000;
}
.box-edit--close button:hover{
    opacity: 0.8;
    background-color: #ff0000;
}