.container--estoque{
    max-width: 1100px;
    margin: auto;
    padding: 30px 0; 
}
.container--estoque .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box--rigth{
    display: flex;
    align-items: center;
}
.container--estoque .btn--cadastrar-produto{
    padding: 10px;
}
.container--estoque .box--rigth label{
    color: #000;
    margin-right: 10px;
}
.container--estoque h2{
    color: #000;
    font-size: 30px;
    margin: 10px 0;
}
.container--estoque .select--estoque{
    color: #000;
    cursor: pointer;
}
.container--estoque .select--estoque option{
    color: #000;
    font-size: 15px;
}
.container--estoque .table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td{
    padding: 10px;
    text-align: start;
    border: 1px solid #ccc;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.container--estoque .btns{
    display: flex;
}
.container--estoque .btns button{
    width: 50%;
    padding: 5px 0;
    margin:0 5px;
}
.container--estoque .btns button:hover{
  opacity: 0.7;
}
.container--estoque .btns button:nth-child(1){
    background-color: #069201;
}
.container--estoque .btns button:nth-child(2){
    background-color: #c40404;
}
