.container--cadastrar-produto{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ffffffaa;
}
.container--cadastrar-produto .box-cadastrar-produto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 600px;
}
.container--cadastrar-produto .box-cadastrar-produto form{
    border: 1px solid #9b9999;
    min-width: 400px;
}
.container--cadastrar-produto .box-cadastrar-produto h2{
    margin: 0;
    padding: 0;
    font-size: 23px;
    color: #26748A;
}
.container--cadastrar-produto .box-cadastrar-produto label{
    margin: 5px 0;
    font-weight: bold;
    color: #26748A;
    font-size: 14px;
}
.container--cadastrar-produto .box-cadastrar-produto input{
    width: 100%;
    margin: 0;
}
.container--cadastrar-produto .box-cadastrar-produto input, 
.container--cadastrar-produto .box-cadastrar-produto textarea{
    border-radius: 3px;
}
.container--cadastrar-produto .box-cadastrar-produto textarea{
    resize: none;
    min-height: 90px;
    padding: 10px;
}
.container--cadastrar-produto .box-cadastrar-produto button{
    margin: 15px 0;
}
.box-add--close{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-add--close button{
    padding: 5px 10px;
    margin: 0;
    background-color: #ff0000;
}
.box-edit--close button:hover{
    opacity: 0.8;
    background-color: #ff0000;
}